# Ignore environment files
.env
secrets.json

# Ignore version control system files
.git
.gitignore

# Ignore logs and temporary files
*.log
tmp/
node_modules/

# Ignore Docker itself
Dockerfile
docker-compose.yml
