apiVersion: v1
data:
  prometheus.yml: |
    global:
      scrape_interval: 5s

    scrape_configs:
      - job_name: 'backend'
        metrics_path: '/metrics'
        static_configs:
          - targets: ['backend:8000']

      - job_name: 'node-exporter'
        static_configs:
          - targets: ['node-exporter:9100']
kind: ConfigMap
metadata:
  annotations:
    use-subpath: "true"
  labels:
    io.kompose.service: prometheus
  name: prometheus-cm0
